#demoFont {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: -0.6px;
    word-spacing: -0.4px;
    color: #3356FF;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
}

#projectFont {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: -0.3px;
    word-spacing: 2px;
    color: red;
    font-style: italic;
    text-transform: capitalize;
}
